/* Meetup Highlighting */
.title[href*="meetup"] {  color: green !important;}
.title[href*="meet up"] {  color: green !important;}
.title[href*="Meetup"] {  color: green !important;}
.title[href*="Meet-up"] {  color: green !important;}
.title[href*="Meet Up"] {  color: green !important;}
.title[href*="Meet-Up"] {  color: green !important;}
.title[href*="Official"] {  color: red !important;}         /*What is this for, besides turning "Official investigation of Paul McKee Derailed" bright red?*/

/* Background */
#header { background: url(%%Header1%%) top left no-repeat; }

/* Fleur-de-lis Arrows */
.arrow { height: 16px;  width: 15px; }
.arrow.upmod { background-image: url(%%upvote%%); background-position: 0px 0px; }
.arrow.downmod {  background-image: url(%%downvote%%); background-position: 0px 0px;}
.arrow.up {  background-image: url(%%up%%); background-position: 0px 0px; }
.arrow.down {  background-image: url(%%down%%); background-position: 0px 0px; }
.midcol[style] { width: 4ex !important }
.comment .midcol { width: 25px }
.gadget .midcol { width: 25px; margin: 0 }

/* 
**Neighborhood Tags -
**
**So far, this is a chronological list.  At some point, we may want to look at neighborhood categories, like stupid chicity :P
**
** PLEASE NOTE: names are CASE SENSITIVE, and I, 1, and l look the same in sans-serif fonts.
*/
