.author[href$="doctorsound"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Wildwood]"
    }
.author[href$="meson537"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="ninja_at_law"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Downtown]"
    }
.author[href$="TheDude05"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Downtown]"
    }
.author[href$="funkybside"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="thedude37"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="matt45"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Southwest Garden]"
    }
.author[href$="Altaco"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Clayton]"
    }
.author[href$="SneakyxJester"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Clayton]"
    }
.author[href$="culexor"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Clayton]"
    }
.author[href$="detailedghost"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="saintgasoline"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="timotab"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. John]"
    }
.author[href$="acparks1"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="AngeBird"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="beanpudd"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Bellefontaine]"
    }
.author[href$="D-Shef"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South City]"
    }
.author[href$="Dr_Bobcat"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Gate District]"
    }
.author[href$="camels"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lindenwood Park]"
    }
.author[href$="turtal46"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South County]"
    }
.author[href$="jmank88"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Forest Park Southeast]"
    }
.author[href$="codeincarnate"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove Heights]"
    }
.author[href$="CatWrangler"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove East]"
    }
.author[href$="TimeForGuinness"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Princeton Heights]"
    }
.author[href$="Zavender"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Ballwin]"
    }
.author[href$="DeliriumTremens"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="FlimtotheFlam"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dutchtown]"
    }
.author[href$="histumness"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Florissant]"
    }
.author[href$="AmishHomicide"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Edwardsville, IL]"
    }
.author[href$="EbilSmurfs"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Webster Groves]"
    }
.author[href$="k1dsmoke"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Alton, IL]"
    }
.author[href$="StupidLorbie"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [BelleVegas, IL]"
    }
.author[href$="PensiveDrunk"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove East]"
    }
.author[href$="boltsand"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Valley Park]"
    }
.author[href$="PaulMckee"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Northside]"
    }
.author[href$="bdmflyer"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Edwardsville, IL]"
    }
.author[href$="monstermash-up"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="goodBEan"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Claire CO, IL]"
    }
.author[href$="ajl_mo"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Columbia, MO]"
    }
.author[href$="AbortionFactory"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="elemento"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [DeMun]"
    }
.author[href$="sthussey"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Shrewsbury]"
    }
.author[href$="vin7116"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Benton Park]"
    }
.author[href$="alisoni"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Edwardsville, IL]"
    }
.author[href$="Happypants"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maryland Heights]"
    }
.author[href$="wilamagila"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Rosewood Heights]"
    }
.author[href$="biggitio"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Des Peres]"
    }
.author[href$="KinderSpirit"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="BeCurry"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Midtown Alley]"
    }
.author[href$="cavitycreep"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Mehlville]"
    }
.author[href$="MOE37x3"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Chesterfield]"
    }
.author[href$="skivneybarfleton"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Holly Hills]"
    }
.author[href$="spoonbat"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [North Hampton]"
    }
.author[href$="spike216"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Soulard]"
    }
.author[href$="Jubilus"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Byrnes Mill]"
    }
.author[href$="mokshagren"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="ptabs226"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lafayette Square]"
    }
.author[href$="spif"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [West County]"
    }
.author[href$="Beaujangle"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Wildwood]"
    }
.author[href$="Rubin0"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [University City]"
    }
.author[href$="bduddy"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Wash U]"
    }
.author[href$="culexor"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Clayton]"
    }
.author[href$="Majornoob"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Cherokee St.]"
    }
.author[href$="falafel1066"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Southwest Garden]"
    }
.author[href$="enfersinge"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Central West End]"
    }
.author[href$="girkabob"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Festus]"
    }
.author[href$="goodBEan"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Clair CO, IL]"
    }
.author[href$="Dudsmack"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Creve Coeur]"
    }
.author[href$="adw2326"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Valley Park]"
    }
.author[href$="GreetingsADM"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maryland Heights]"
    }
.author[href$="ryancarnated"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Central West End]"
    }
.author[href$="thefootisconstant"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="TIIME"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lindenwood Park]"
    }
.author[href$="pugsby"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lincoln County]"
    }
.author[href$="ItGoesSplat"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Clayton]"
    }
.author[href$="furiousjason"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="LadyCheeba"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Wildwood]"
    }
.author[href$="foobz"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Festus]"
    }
.author[href$="notquiteoriginal"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Belleville, IL]"
    }
.author[href$="saration"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [West County]"
    }
.author[href$="staggerb"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Princeton Heights]"
    }
.author[href$="EbilSmurfs"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Kirkwood]"
    }
.author[href$="dadRabbit"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Ballwin]"
    }
.author[href$="jbalicki"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maryland Heights]"
    }
.author[href$="thecoffman"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Collinsville, IL]"
    }
.author[href$="ph4se"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [University City]"
    }
.author[href$="atorger1"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="bushmecj"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South City]"
    }
.author[href$="Brian_isnt_working"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Soulard]"
    }
.author[href$="oatmealfight"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Milwaukee, WI]"
    }
.author[href$="Erintheserin"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South County]"
    }
.author[href$="OhManThisIsAwkward"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maplewood]"
    }
.author[href$="jhawkweapon"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Peters]"
    }
.author[href$="davbak"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="jjijj"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Shaw]"
    }
.author[href$="kitsy"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Chicago, IL]"
    }
.author[href$="amw26870"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="narddawg314"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [U City]"
    }
.author[href$="shefwed82"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dogtown]"
    }
.author[href$="InsideOutBaboon"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Midtown]"
    }
.author[href$="engwar"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Manchester]"
    }
.author[href$="potentialloser"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Decatur, IL]"
    }
.author[href$="kwood09"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Kirkwood]"
    }
.author[href$="nerfdude"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Affton]"
    }
.author[href$="ItsAdammm"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Webster Groves]"
    }
.author[href$="Pinilla"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Ballwin]"
    }
.author[href$="bassitone"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [University City]"
    }
.author[href$="SteelyPhil"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Chesterfield]"
    }
.author[href$="cause4concern"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Carondelet]"
    }
.author[href$="MiniDriver"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="CMXI"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [U City]"
    }
.author[href$="KickapooPonies"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [North County]"
    }
.author[href$="DucoNihilum"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Metro East]"
    }
.author[href$="AtotheJ"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="developthefuture"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [The Hill]"
    }
.author[href$="ariesgeek"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lindenwood Park]"
    }
.author[href$="bassplayerdoug"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Florissant]"
    }
.author[href$="Instantflip"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Valley Park]"
    }
.author[href$="alexthehoopy"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Creve Coeur]"
    }
.author[href$="battmutler"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Creve Coeur]"
    }
.author[href$="gobnwgo"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Central West End]"
    }
.author[href$="kittychef"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Florissant]"
    }
.author[href$="RyanMT"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Midtown]"
    }
.author[href$="killkev"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="BewareTheSpamFilter"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Grinnell, IA]"
    }
.author[href$="brettstl"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Bevo]"
    }
.author[href$="IAMnotBRAD"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [U City]"
    }
.author[href$="SanSalvador"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Washington Ave.]"
    }
.author[href$="mvpujols777"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Strasbourg, France]"
    }
.author[href$="daskro"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="trickyp7"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Marlborough]"
    }
.author[href$="clipsezilla"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maryville, IL]"
    }
.author[href$="ok_stopdots"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove South]"
    }
.author[href$="LittleKingBrel"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Ladue]"
    }
.author[href$="chankster"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Soulard]"
    }
.author[href$="realdealboy"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dutchtown West]"
    }
.author[href$="gregdoom"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Alton, IL]"
    }
.author[href$="chall85"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Central West End]"
    }
.author[href$="chriswike"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Soulard]"
    }
.author[href$="mjschultz"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [DeBaliviere Place]"
    }
.author[href$="Malcorin"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Dutchtown]"
    }
.author[href$="Frantic_Dan"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Central West End]"
    }
.author[href$="nerddtvg"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [St. Charles]"
    }
.author[href$="dentid4hed"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Floristell]"
    }
.author[href$="thewormauger"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Southwest Garden]"
    }
.author[href$="RonJonJovi"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Richwoods]"
    }
.author[href$="tontovila"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South County]"
    }
.author[href$="chaosopher"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Maplewood]"
    }
.author[href$="N0V0w3ls"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Fenton]"
    }
.author[href$="threelittlebirds"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Benton Park]"
    }
.author[href$="The_Ghost_Who_Walks"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Brentwood]"
    }
.author[href$="keggers5000"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Lindenwood Park]"
    }
.author[href$="Yelly"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Chiang Mai/South Grand]"
    }
.author[href$="sowFresh"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Downtown]"
    }
.author[href$="theinevitable"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove East]"
    }
.author[href$="GoranHR"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [South County]"
    }
.author[href$="gsmccabe"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Richmond Heights]"
    }
.author[href$="eulerup"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Metro East]"
    }
.author[href$="bigmapblog"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Shaw]"
    }
.author[href$="CopyrightLOL"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove East]"
    }
.author[href$="Copresident3143"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Southwest Garden]"
    }
.author[href$="cdmccabe"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Southwest Garden]"
    }
.author[href$="imsarahokay"]:after {
    color: gray;
    font-size: 0.75em;
    content: " [Tower Grove East]"
    }